name: Security

on:
  push:
  schedule:
    - cron: '0 0 * * *'

jobs:
  govulncheck:
    name: Govulncheck
    runs-on: ubuntu-latest
    steps:
      - id: govulncheck
        uses: golang/govulncheck-action@v1
